<launch>
  <arg name="model_name" default="REPLACE_WITH_ACTUAL_MODEL_NAME"/>
  <arg name="command_topic" default="/ackermann_cmd"/>
  <arg name="command_type" default="ackermann_msgs/AckermannDrive"/>
  <arg name="mode" default="prbs"/>
  <arg name="speed_max" default="2.0"/>
  <node pkg="gem_learned_mpc" type="state_adapter.py" name="state_adapter" output="screen">
    <param name="model_name" value="$(arg model_name)"/>
  </node>
  <node pkg="gem_learned_mpc" type="excitation_node.py" name="excitation_node" output="screen">
    <param name="command_topic" value="$(arg command_topic)"/>
    <param name="command_type" value="$(arg command_type)"/>
    <param name="mode" value="$(arg mode)"/>
    <param name="speed_max" value="$(arg speed_max)"/>
  </node>
</launch>
