<launch><arg name="odom_topic" default="/gem/base_footprint/odom"/><node pkg="gem_learned_mpc" type="state_adapter.py" name="state_adapter" output="screen"><param name="odom_topic" value="$(arg odom_topic)"/><remap from="~state" to="/gem_learned_mpc/state"/></node><node pkg="gem_learned_mpc" type="excitation_driver.py" name="excitation_driver" output="screen"><remap from="~control" to="/gem_learned_mpc/control_cmd"/></node><node pkg="gem_learned_mpc" type="command_adapter.py" name="command_adapter" output="screen"><remap from="~control" to="/gem_learned_mpc/control_cmd"/></node></launch>