<?xml version="1.0"?>

<robot name="gem_e4" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="steer_angle" value="0.61" />
  <xacro:property name="PI" value="3.1415926835897931" />

  <xacro:property name="tyre_length" value="0.16" />
  <xacro:property name="tyre_radius" value="0.295" />

  <xacro:arg name="velodyne_points" default="false" />
  <xacro:arg name="laser_points" default="false" />

  <xacro:property name="velodyne_points" value="$(arg velodyne_points)" />
  <xacro:property name="laser_points" value="$(arg laser_points)" />

  <xacro:include filename="$(find gem_description)/urdf/gem_e4.gazebo" />

  <xacro:include filename="$(find gem_description)/urdf/materials.xacro" />

  <xacro:include filename="$(find gem_description)/urdf/macros.xacro" />

  <xacro:include filename="$(find velodyne_description)/urdf/OS1.urdf.xacro" />

  <link name="base_footprint">
  </link>

  <link name="base_link">
    <inertial>
      <origin xyz="-0.01178 0.0012042 0.47962" rpy="0 0 0" />
      <mass value="1950.5" />
      <inertia
        ixx="546.93"
        ixy="-0.50772"
        ixz="-13.079"
        iyy="1803.2"
        iyz="0.093832"
        izz="1702.3" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://gem_description/meshes/e4/base_link.STL" />
      </geometry>
      <material name="blue">
        <color rgba="0 0 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://gem_description/meshes/e4/base_link.STL" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="base_link">
    <material>Gazebo/Blue</material>
  </gazebo>

  <joint name="base_link" type="fixed">
    <origin xyz="0 0 0.268" rpy="0 0 0" />
    <parent link="base_footprint" />
    <child link="base_link" />
  </joint>

  <!-- ************************************* Fixed Links ************************************* -->

  <link name="top_rack_link">
    <inertial>
      <!--
      <origin xyz="-0.207 0 1.6989" rpy="0 0 0" />
      -->
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://gem_description/meshes/e4/top_rack_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://gem_description/meshes/e4/top_rack_link.STL" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="top_rack_link">
    <material>Gazebo/Black</material>
  </gazebo>

  <joint name="top_rack_joint" type="fixed">
    <origin xyz="-0.17 0 1.66" rpy="1.5708 0 0" />
    <parent link="base_link" />
    <child link="top_rack_link" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="front_rack_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gem_description/meshes/e4/front_rack_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gem_description/meshes/e4/front_rack_link.STL" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="front_rack_link">
    <material>Gazebo/Black</material>
  </gazebo>

  <joint name="front_rack_joint" type="fixed">
    <origin xyz="1.7594 0 -0.15" rpy="1.5708 0 1.5708" />
    <parent link="base_link" />
    <child link="front_rack_link" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="rear_rack_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gem_description/meshes/e4/rear_rack_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gem_description/meshes/e4/rear_rack_link.STL" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="rear_rack_link">
    <material>Gazebo/Black</material>
  </gazebo>

  <joint name="rear_rack_joint" type="fixed">
    <origin xyz="-1.7372 0 -0.1" rpy="1.5708 0 -1.5708" />
    <parent link="base_link" />
    <child link="rear_rack_link" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="headlight_fr_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gem_description/meshes/e4/headlight_fr_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gem_description/meshes/e4/headlight_fr_link.STL" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="headlight_fr_link">
    <material>Gazebo/White</material>
  </gazebo>

  <joint name="headlight_fr_joint" type="fixed">
    <origin xyz="1.1677 -0.5 0.765" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="headlight_fr_link" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="headlight_fl_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gem_description/meshes/e4/headlight_fl_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gem_description/meshes/e4/headlight_fl_link.STL" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="headlight_fl_link">
    <material>Gazebo/White</material>
  </gazebo>

  <joint name="headlight_fl_joint" type="fixed">
    <origin xyz="1.1677 0.5 0.765" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="headlight_fl_link" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="turnlight_fl_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gem_description/meshes/e4/turnlight_fl_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 0.6 0.2 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gem_description/meshes/e4/turnlight_fl_link.STL" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="turnlight_fl_link">
    <material>Gazebo/Orange</material>
  </gazebo>

  <joint name="turnlight_fl_joint" type="fixed">
    <origin xyz="1.1731 0.345 0.765" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="turnlight_fl_link" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="turnlight_fr_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gem_description/meshes/e4/turnlight_fr_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 0.6 0.2 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gem_description/meshes/e4/turnlight_fr_link.STL" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="turnlight_fr_link">
    <material>Gazebo/Orange</material>
  </gazebo>

  <joint name="turnlight_fr_joint" type="fixed">
    <origin xyz="1.1731 -0.345 0.765" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="turnlight_fr_link" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="lightbar_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gem_description/meshes/e4/lightbar_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gem_description/meshes/e4/lightbar_link.STL" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="lightbar_link">
    <material>Gazebo/Red</material>
  </gazebo>

  <joint name="lightbar_joint" type="fixed">
    <origin xyz="-1.07655 0 0.9449" rpy="-1.9138 0 1.5708" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="lightbar_link" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="rear_left_stop_light_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gem_description/meshes/e4/stoplight_rl_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gem_description/meshes/e4/stoplight_rl_link.STL" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="rear_left_stop_light_link">
    <material>Gazebo/White</material>
  </gazebo>

  <joint name="stoplight_rl_joint" type="fixed">
    <origin xyz="-1.625 0.38 0.423" rpy="0 0 3.1416" />
    <parent link="base_link" />
    <child link="rear_left_stop_light_link" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="rear_right_stop_light_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gem_description/meshes/e4/stoplight_rr_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gem_description/meshes/e4/stoplight_rr_link.STL" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="rear_right_stop_light_link">
    <material>Gazebo/White</material>
  </gazebo>

  <joint name="stoplight_rr_joint" type="fixed">
    <origin xyz="-1.625 -0.38 0.423" rpy="0 0 3.1416" />
    <parent link="base_link" />
    <child link="rear_right_stop_light_link" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="taillight_rl_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gem_description/meshes/e4/taillight_rl_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gem_description/meshes/e4/taillight_rl_link.STL" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="taillight_rl_link">
    <material>Gazebo/Red</material>
  </gazebo>

  <joint name="taillight_rl_joint" type="fixed">
    <origin xyz="-1.62 0.32 0.203" rpy="0 0 3.1416" />
    <parent link="base_link" />
    <child link="taillight_rl_link" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="taillight_rr_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gem_description/meshes/e4/taillight_rr_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gem_description/meshes/e4/taillight_rr_link.STL" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="taillight_rr_link">
    <material>Gazebo/Red</material>
  </gazebo>

  <joint name="taillight_rr_joint" type="fixed">
    <origin xyz="-1.62 -0.32 0.203" rpy="0 0 3.1416" />
    <parent link="base_link" />
    <child link="taillight_rr_link" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="i_logo_fl_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gem_description/meshes/e4/i_logo_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 0.6 0.2 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gem_description/meshes/e4/i_logo_link.STL" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="i_logo_fl_link">
    <material>Gazebo/Orange</material>
  </gazebo>

  <joint name="i_logo_fl_joint" type="fixed">
    <origin xyz="0.3966 0.6695 0.4123" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="i_logo_fl_link" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="i_logo_rl_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gem_description/meshes/e4/i_logo_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 0.6 0.2 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gem_description/meshes/e4/i_logo_link.STL" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="i_logo_rl_link">
    <material>Gazebo/Orange</material>
  </gazebo>

  <joint name="i_logo_rl_joint" type="fixed">
    <origin xyz="-0.42344 0.6695 0.4123" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="i_logo_rl_link" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="i_logo_fr_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gem_description/meshes/e4/i_logo_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 0.6 0.2 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gem_description/meshes/e4/i_logo_link.STL" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="i_logo_fr_link">
    <material>Gazebo/Orange</material>
  </gazebo>

  <joint name="i_logo_fr_joint" type="fixed">
    <origin xyz="0.3966 -0.68 0.4123" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="i_logo_fr_link" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="i_logo_rr_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gem_description/meshes/e4/i_logo_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 0.6 0.2 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gem_description/meshes/e4/i_logo_link.STL" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="i_logo_rr_link">
    <material>Gazebo/Orange</material>
  </gazebo>

  <joint name="i_logo_rr_joint" type="fixed">
    <origin xyz="-0.42344 -0.68 0.4123" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="i_logo_rr_link" />
    <axis xyz="0 0 0" />
  </joint>

  <!-- ************************************* Sensor Links ************************************* -->

  <link name="gps_antenna_main_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://gem_description/meshes/e4/gps_antenna_main_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.9 0.8 0.9 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://gem_description/meshes/e4/gps_antenna_main_link.STL" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="gps_antenna_main_link">
    <material>Gazebo/White</material>
  </gazebo>

  <joint name="gps_antenna_main_joint" type="fixed">
    <origin xyz="-0.01144 0.6525 1.7" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="gps_antenna_main_link" />
    <axis xyz="0 0 1" />
  </joint>

  <link name="gps_antenna_aux_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://gem_description/meshes/e4/gps_antenna_aux_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.9 0.8 0.9 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://gem_description/meshes/e4/gps_antenna_aux_link.STL" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="gps_antenna_aux_link">
    <material>Gazebo/White</material>
  </gazebo>

  <joint name="gps_antenna_aux_joint" type="fixed">
    <origin xyz="-0.01144 -0.6525 1.7" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="gps_antenna_aux_link" />
    <axis xyz="0 0 1" />
  </joint>

  <link name="top_lidar_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://gem_description/meshes/e4/top_lidar_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.8 0.8 0.9 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://gem_description/meshes/e4/top_lidar_link.STL" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="top_lidar_link">
    <material>Gazebo/White</material>
  </gazebo>

  <joint name="top_lidar_joint" type="fixed">
    <origin xyz="-0.15144 0 2.08" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="top_lidar_link" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="front_camera_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://gem_description/meshes/e4/front_camera_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.8 0.8 0.9 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://gem_description/meshes/e4/front_camera_link.STL" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="front_camera_link">
    <material>Gazebo/White</material>
  </gazebo>

  <joint name="front_camera_joint" type="fixed">
    <origin xyz="0.535 0 1.683" rpy="0 1.5708 0" />
    <parent link="base_link" />
    <child link="front_camera_link" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="front_lidar_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://gem_description/meshes/e4/front_lidar_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.8 0.8 0.9 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://gem_description/meshes/e4/front_lidar_link.STL" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="front_lidar_link">
    <material>Gazebo/White</material>
  </gazebo>

  <joint name="front_lidar_joint" type="fixed">
    <origin xyz="0.38206 0 1.71" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="front_lidar_link" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="front_radar_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://gem_description/meshes/e4/front_radar_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.8 0.8 0.9 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://gem_description/meshes/e4/front_radar_link.STL" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="front_radar_link">
    <material>Gazebo/White</material>
  </gazebo>

  <joint name="front_radar_joint" type="fixed">
    <origin xyz="1.835 0 0.35" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="front_radar_link" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="imu_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://gem_description/meshes/e4/imu_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.8 0.8 0.9 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://gem_description/meshes/e4/imu_link.STL" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="imu_link">
    <material>Gazebo/White</material>
  </gazebo>

  <joint name="imu_joint" type="fixed">
    <origin xyz="-0.0044387 0 0.18294" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="imu_link" />
    <axis xyz="0 0 0" />
  </joint>

  <!-- *********************************** Front Left Wheel *********************************** -->

  <link name="left_steering_hinge_link">
    <inertial>
      <mass value="1" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="0.004" ixy="0.0" ixz="0.0" iyy="0.004" iyz="0.0" izz="0.004" />
    </inertial>
  </link>

  <gazebo reference="left_steering_hinge_link">
    <material>Gazebo/White</material>
  </gazebo>

  <joint name="left_steering_hinge_joint" type="revolute">
    <parent link="base_link" />
    <child link="left_steering_hinge_link" />
    <origin xyz="1.2746 0.6545 0.027" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-0.61" upper="0.61" effort="100" velocity="0.5" />
  </joint>

  <link name="front_left_wheel_link">
    <inertial>
      <mass value="11" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.58631238" ixy="0.0" ixz="0.0" iyy="0.33552910" iyz="0.0" izz="0.33552910" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://gem_description/meshes/e4/wheel_link_fl.STL" />
      </geometry>
      <material name="">
        <color rgba="0 0 0 1" />
      </material>
    </visual>
    <collision name="front_left_wheel_collision">
      <geometry>
        <sphere radius="0.295" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="front_left_wheel_link">
    <material>Gazebo/Black</material>
  </gazebo>

  <joint name="front_left_wheel_joint" type="continuous">
    <parent link="left_steering_hinge_link" />
    <child link="front_left_wheel_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1000" velocity="100.0" />
  </joint>

  <!-- ********************************** Front Right Wheel ********************************** -->

  <link name="right_steering_hinge_link">
    <inertial>
      <mass value="1" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="0.004" ixy="0.0" ixz="0.0" iyy="0.004" iyz="0.0" izz="0.004" />
    </inertial>
  </link>

  <gazebo reference="right_steering_hinge_link">
    <material>Gazebo/White</material>
  </gazebo>

  <joint name="right_steering_hinge_joint" type="revolute">
    <parent link="base_link" />
    <child link="right_steering_hinge_link" />
    <origin xyz="1.2746 -0.6535 0.027" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-0.61" upper="0.61" effort="100" velocity="0.5" />
  </joint>

  <link name="front_right_wheel_link">
    <inertial>
      <mass value="11" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.58631238" ixy="0.0" ixz="0.0" iyy="0.33552910" iyz="0.0" izz="0.33552910" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://gem_description/meshes/e4/wheel_link_fr.STL" />
      </geometry>
      <material name="">
        <color rgba="0 0 0 1" />
      </material>
    </visual>
    <collision name="front_right_wheel_collision">
      <geometry>
        <sphere radius="0.295" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="front_right_wheel_link">
    <material>Gazebo/Black</material>
  </gazebo>

  <joint name="front_right_wheel_joint" type="continuous">
    <parent link="right_steering_hinge_link" />
    <child link="front_right_wheel_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1000" velocity="100.0" />
  </joint>

  <!-- ************************************ Rear Left Wheel ************************************ -->

  <link name="rear_left_wheel_link">
    <inertial>
      <mass value="11" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.58631238" ixy="0.0" ixz="0.0" iyy="0.33552910" iyz="0.0" izz="0.33552910" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://gem_description/meshes/e4/wheel_link_rl.STL" />
      </geometry>
      <material name="">
        <color rgba="0 0 0 1" />
      </material>
    </visual>
    <collision name="rear_left_wheel_collision">
      <geometry>
        <sphere radius="0.295" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="rear_left_wheel_link">
    <material>Gazebo/Black</material>
  </gazebo>

  <joint name="rear_left_wheel_joint" type="continuous">
    <origin xyz="-1.2904 0.6545 0.027" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="rear_left_wheel_link" />
    <axis xyz="0 1 0" />
    <limit effort="1000.0" velocity="100.0" />
  </joint>

  <!-- *********************************** Rear Right Wheel *********************************** -->

  <link name="rear_right_wheel_link">
    <inertial>
      <mass value="11" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.58631238" ixy="0.0" ixz="0.0" iyy="0.33552910" iyz="0.0" izz="0.33552910" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://gem_description/meshes/e4/wheel_link_rr.STL" />
      </geometry>
      <material name="">
        <color rgba="0 0 0 1" />
      </material>
    </visual>
    <collision name="rear_right_wheel_collision">
      <geometry>
        <sphere radius="0.295" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="rear_right_wheel_link">
    <material>Gazebo/Black</material>
  </gazebo>

  <joint name="rear_right_wheel_joint" type="continuous">
    <origin xyz="-1.2904 -0.6535 0.027" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="rear_right_wheel_link" />
    <axis xyz="0 1 0" />
    <limit effort="1000.0" velocity="100.0" />
  </joint>

  <!-- **************************************************************************************** -->




  <!-- ******************************************** Transmissions ********************************************* -->


  <xacro:wheel_transmission name="rear_left_wheel" />
  <xacro:wheel_transmission name="rear_right_wheel" />

  <xacro:wheel_transmission name="front_left_wheel" />
  <xacro:wheel_transmission name="front_right_wheel" />

  <xacro:steering_hinge_transmission name="left_steering_hinge" />
  <xacro:steering_hinge_transmission name="right_steering_hinge" />


  <!-- *********************************************** Sensors ************************************************ -->

  <xacro:OS1 parent="top_rack_link" name="ouster" topic="/ouster/points" hz="10" samples="440" gpu="true" lasers="128" min_range="0.5" max_range="200.0" min_angle="-${M_PI}" max_angle="${M_PI}">
    <origin xyz="0.02 0.42 0" rpy="1.5708 0 3.1416" />
  </xacro:OS1>

  <!-- ************************* Front Camera ************************* -->

  <link name="front_single_camera_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.05 0.05"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.05 0.05"/>
      </geometry>
      <material name="red"/>
    </visual>
    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>

  <gazebo reference="front_single_camera_link">
    <material>Gazebo/White</material>
  </gazebo>

  <!--
  <joint name="gem_front_camera_joint" type="fixed">
    <origin xyz="-0.045 0 0" rpy="-1.5708 3.1416 0"/>
    <parent link="front_camera_link"/>
    <child link="front_single_camera_link"/>
  </joint>
  -->

  <joint name="gem_front_camera_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 -1.57 0"/>
    <parent link="front_camera_link"/>
    <child link="front_single_camera_link"/>
  </joint>
  
  <!-- ************************* Corner Cameras ************************* -->
  
  <!-- Front Left Corner Camera -->
  <link name="front_left_corner_camera_link">
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.02 0.01"/>
      </geometry>
    </collision> -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.02 0.01"/>
      </geometry>
      <material name="red"/>
    </visual>
    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>

  <gazebo reference="front_left_corner_camera_link">
    <material>Gazebo/Red</material>
  </gazebo>

  <joint name="front_left_corner_camera_joint" type="fixed">
    <origin xyz="0.5 0.6545 1.75" rpy="0 0.785 0.785"/>
    <parent link="base_link"/>
    <child link="front_left_corner_camera_link"/>
    <axis xyz="0 0 0" />
  </joint>

  <!-- Front Right Corner Camera -->
  <link name="front_right_corner_camera_link">
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.02 0.01"/>
      </geometry>
    </collision> -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.02 0.01"/>
      </geometry>
      <material name="green"/>
    </visual>
    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>

  <gazebo reference="front_right_corner_camera_link">
    <material>Gazebo/Green</material>
  </gazebo>

  <joint name="front_right_corner_camera_joint" type="fixed">
    <origin xyz="0.5 -0.6535 1.75" rpy="0 0.785 -0.785"/>
    <parent link="base_link"/>
    <child link="front_right_corner_camera_link"/>
    <axis xyz="0 0 0" />
  </joint>

  <!-- Rear Left Corner Camera -->
  <link name="rear_left_corner_camera_link">
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.02 0.01"/>
      </geometry>
    </collision> -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.02 0.01"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>

  <gazebo reference="rear_left_corner_camera_link">
    <material>Gazebo/Blue</material>
  </gazebo>

  <joint name="rear_left_corner_camera_joint" type="fixed">
    <origin xyz="-1.0 0.6545 1.75" rpy="0 0.785 2.356"/>
    <parent link="base_link"/>
    <child link="rear_left_corner_camera_link"/>
    <axis xyz="0 0 0" />
  </joint>

  <!-- Rear Right Corner Camera -->
  <link name="rear_right_corner_camera_link">
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.02 0.01"/>
      </geometry>
    </collision> -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.02 0.01"/>
      </geometry>
      <material name="yellow"/>
    </visual>
    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>

  <gazebo reference="rear_right_corner_camera_link">
    <material>Gazebo/Yellow</material>
  </gazebo>

  <joint name="rear_right_corner_camera_joint" type="fixed">
    <origin xyz="-1.0 -0.6535 1.75" rpy="0 0.785 -2.356"/>
    <parent link="base_link"/>
    <child link="rear_right_corner_camera_link"/>
    <axis xyz="0 0 0" />
  </joint>
    
  <!--
  <link name="stereo_camera_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.05 0.05"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.05 0.05"/>
      </geometry>
      <material name="red"/>
    </visual>
    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>


  <joint name="gem_stereo_camera_joint" type="fixed">
    <origin xyz="-0.045 0 0" rpy="-1.5708 3.1416 0"/>
    <parent link="front_camera_link"/>
    <child link="stereo_camera_link"/>
  </joint>
  -->

  <!-- IMU -->
  <link name="IMU_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
      <material name="red"/>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia
        ixx="1.0" ixy="0.0" ixz="0.0"
        iyy="1.0" iyz="0.0"
        izz="1.0"/>
    </inertial>
  </link>

  <gazebo reference="IMU_link">
    <material>Gazebo/White</material>
  </gazebo>

  <joint name="IMU_joint" type="fixed">
    <origin xyz="-0.246 0 0.05" rpy="0 0 -1.5708"/>
    <parent link="base_link"/>
    <child link="IMU_link"/>
  </joint>



  <!-- GPS -->
  <link name="GPS_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
      <material name="red"/>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia
        ixx="1.0" ixy="0.0" ixz="0.0"
        iyy="1.0" iyz="0.0"
        izz="1.0"/>
    </inertial>
  </link>

  <gazebo reference="GPS_link">
    <material>Gazebo/White</material>
  </gazebo>

  <joint name="GPS_joint" type="fixed">
    <origin xyz="-0.246 0 0.05" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="GPS_link"/>
  </joint>


  <!-- Front Sonar -->
  <link name="front_sonar_link">
    <inertial>
      <mass value="0.001" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000017" iyz="0" izz="0.000000017" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.05 0.2 0.1" />
      </geometry>
    <material name="orange"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.05 0.2 0.1" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="front_sonar_link">
    <material>Gazebo/Orange</material>
  </gazebo>

  <joint name="front_sonar_joint" type="fixed">
    <origin xyz="0 0.38 0.065" rpy="0 -1.5708 -1.5708"/>
    <parent link="front_rack_link"/>
    <child link="front_sonar_link"/>
  </joint>

  <!-- Rear Sonar -->
  <link name="rear_sonar_link">
    <inertial>
      <mass value="0.001" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000017" iyz="0" izz="0.000000017" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.05 0.2 0.1" />
      </geometry>
    <material name="orange"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.05 0.2 0.1" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="rear_sonar_link">
    <material>Gazebo/Orange</material>
  </gazebo>

  <joint name="rear_sonar_joint" type="fixed">
    <origin xyz="0 0.38 0.065" rpy="0 -1.5708 -1.5708"/>
    <parent link="rear_rack_link"/>
    <child link="rear_sonar_link"/>
  </joint>
  
</robot>